* {
    margin: 0;
    padding: 0;

}
body{
    background: radial-gradient(rgb(225, 0, 255), rgb(72, 0, 205), rgb(255, 0, 183));
}
.sky-container {
    transform: rotate(45deg);
    margin: 150px 0 0 500px;
    position: absolute;
}

.star{
    width: 5px;
    height: 4px;
    background: linear-gradient(90deg, rgba(0, 0, 255, 0), rgba(95, 95, 255, 0.6), rgba(0, 0, 255, 0));
    position: absolute;
    
    animation: tail 3s ease-in-out infinite,
    shooting 3s ease-in-out infinite;
}
.star::after, .star::before{
    content: " ";
    width: 5px;
    height: 4px;
    background: linear-gradient(90deg, rgba(0, 0, 255, 0), rgba(95, 95, 255, 0.6), rgba(0, 0, 255, 0));
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(45deg);
    animation: shining 3s ease-in-out infinite;
}
.star::before{
    transform: rotate(135deg);
}
@keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }    
    100% {
        width: 0;
    }    
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(320px);
    }
    
}

@keyframes shining {
    0% {
        width: 0;
    }    
    30% {
        width: 40px;
    }    
    100% {
        width: 0;
    }    
}
.star:nth-child(1){
    top: 400px;
    left: 10px;
    animation-delay: 2s;
}
.star:nth-child(2){
    top: 230px;
    left: -110px;
    animation-delay: 0.432s;
}
.star:nth-child(3){
    top: 30px;
    left: -20px;
    animation-delay: 0.2s;
}
.star:nth-child(4){
    top: 100px;
    left: 100px;
    animation-delay: 0.8s;
}
.star:nth-child(5){
    top: 140px;
    left: -100px;
    animation-delay: 0.s;
}
.images img{
    position: absolute;
}