@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Oi&family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url('img/bg.svg');
    min-height: 100vh;
    background-repeat: no-repeat;
}
h1{
    font-size: 48px;
    font-family: Oi;
    font-weight: 200;
    padding: 72px 0 0 52px;
    color: #34402A;
}
.wrapper {
    background: #6E895A;
    margin-top: 441px;
    text-align: center;
}
.flip-card{
    height: 500px;
    width: 400px;
    perspective: 1000px;
    display: inline-block;
}
.flip-card-inner { 
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;    
}
.flip-card-front img{
    width: 50%;
    margin-top: 18%;
}
.flip-card:active .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    background-image: url("img/card.svg");
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card-back {
    text-align: left;
    padding: 20%;
    color: white;
    transform: rotateY(180deg);
}