@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Kurale", serif;
    background-color: rgb(255, 97, 34);
}

header a{
    font-size: 20px;
    text-decoration: none;
    margin: 50px;
    color: black;
}
.poster{
    text-align: center;
}
.players{
    background-color: black;
    color: white;
    text-align: center;
}
aside{
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}

.disks img{
    display: inline-block;
    width: 19vw;
}
h1{
    text-align: center;
    font-size: 100px;
}
.albums{
    background-color: black;
}
footer{
    font-size: 50px;
    height: 150px;
    text-align: center;
    color: white; 
    vertical-align: middle;
}
h2{
    text-align: center;
    color: white;
}
.albums div{
    display: inline-block;
    width: 19.5vw;
    vertical-align: middle;
}
.albums div img{
    display: block;
    width: 100%; 
}