@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("img/bg.gif");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: "Jersey 10", sans-serif;
}
h1{
    margin-top: 5%;
    font-size: 350px;
    text-align: center;
    color: white;
}
label{
    color: white;
    padding: 20px 25px;
    background: #000000;
    font-size: 32px;
    display: inline-block;
    border-radius: 50%;
    position: fixed;
    right: 0;
    z-index: 1;

}
div > div{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    color: 2;
    font-size: 100px;
    margin-top: -5%;

}
div a{
    color: white;
    margin: 50px;
    text-decoration: none;
    
}
input {
    font-family: "Jersey 10", sans-serif;
    font-size: 70px;
	margin-left: 20%;
	width: 60%;
	height: 70px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.497);
    border-color: aliceblue;
    padding: 10px;
    border: 2px solid aliceblue;
    color: white;
}
input::placeholder {
    color: white;
}
input[type="checkbox"]{
    display: none;
}
input:checked ~ div {
    transform: translateX(-100%);
}
