@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(43, 14, 70);
    background-image: url(img/bg.svg);
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
}
h1 {
    font-weight: 300;
    font-size: 60px;
}
h2 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
}
.title { 
    margin: 35vh 50px 35vh 200px;
    width: 500px;
    display: inline-block;
}

nav{
    background-color: black;
    width: 120px;
    height: 300vh;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    display: block;
    position: fixed;
}

nav a{
    margin: 89px 0 0 0;
    text-decoration: none;
    color: azure;
}

.main{
    margin: 0 0 0 140px;
    width: 85vw;
    height: 500px;
    display: inline-block;
}
h2{
    text-align: center;
}
.img{
    vertical-align: middle;
    display: inline-block;
    width: 30vw;
    height: 400px;
    img {
        width: 100%;
        height: 100%;
    }
    
}

.text{
    width: 50vw;
    display: inline-block;
    padding-left: 100px;
    vertical-align: middle;
}

.FOOTER{
    height: 100px;
   
    background-color: rgb(0, 0, 0);
    background-size: 200px;
    text-align: end;
    margin: 690px 0 0 0;
    text-align: center;
    font-size: 27px;
}   
.blsckhole{
    position: absolute;
    z-index: -100;
    right: 0;
    
    
}
