
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("img/bg.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

h1{
    font-family: Klee One;
    font-size: 6vw;
    text-align: center;
    margin-top: 10vh;
}
.posters{
    margin-top: 50px;
    text-align: center;
}
.poster{
    display: inline-block;
    margin-right: 32.5px;
    margin-left: 32.5px;
}
.poster img{
    height: 55.5vh;
    width: 17.6vw;
}